<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 1 Result</h1>
        <p>Dividend: {{ dividend }}</p>
        <p>Divisor: {{ divisor }}</p>
        <p>Dividend type: {{ dividend_type }}</p>
        <p>Divides evenly: {{ divides_evenly }}</p>
        <a href="/exercise1">Back to Exercise 1</a>
    </body>
</html>
